# go
go.work
*.exe
*.test

# wails
build/
wailsjs/
*.syso

# frontend
frontend/node_modules/
frontend/dist/
*.md5

# database
*.db
*.db-shm
*.db-wal

# документация
docs/commit-style-guide.md

# среда разработки
.vscode/
.idea/
*.swp
*.swo
*~

# прочее
*.out
vendor/
*.log
*.tmp

# временные файлы TTS
/tmp/yappari-tts*
