# go
go.work
*.exe
*.test
yappari-server

# python
__pycache__/

# build
build/
wailsjs/

# frontend
frontend/node_modules/
frontend/dist/
*.md5

# database
*.db
*.db-shm
*.db-wal

# среда разработки
.vscode/
.idea/
*.swp
*.swo
*~

# прочее
*.out
vendor/
*.log
*.tmp
.*/
*.md
# .markdownlint.yml

# временные файлы TTS
/tmp/yappari-tts*
